__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.vscode/
.idea/
.env
*.env
*.json
*key*.json
files/
*.csv
*.parquet
converter.py
tests/
cleansing/
convert/
CLAUDE.md
product_analysis/
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
