__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.vscode/
.idea/
.env
*.env
*.json
*key*.json
files/
*.csv
!dbt/**/*.csv
*.parquet
converter.py
tests/
!dbt/**/tests/
!dbt/**/tests/**
cleansing/
convert/
CLAUDE.md
product_analysis/

# dbt
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/
dbt/**/.user.yml
dbt/**/jaffle_shop/

# secrets
*.json
!.vscode/settings.json
